@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom styling for articles, this is the simpelst way to do it without enduring excrutiating pain.
.article {
	&,
	& div {
		@apply flex flex-col gap-2;
	}

	b,
	strong {
		@apply font-semibold text-white-bright;
	}

	a {
		@apply font-semibold text-accent transition-colors hover:text-accent-dark;
	}

	img {
		@apply mx-auto rounded-1;
	}

	h1 {
		@apply text-h2 font-bold text-white-bright;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-h3 font-bold text-white-bright;
	}
}

/* Fonts */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/inter/Inter-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/inter/Inter-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/inter/Inter-Bold.ttf) format('truetype');
}
