@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/src/assets/Inter-Regular.ttf) format('truetype');
}

@layer base {
	:root {
		--black: 0 0 0;
		--darkGray: 101 101 101;
		--lightGray: 205 205 205;
		--white: 255 255 255;
		--green: 18 190 56;
		--red: 216 18 18;
	}
}

body {
	@apply bg-white text-black;
}

::selection {
	@apply bg-lightGray bg-opacity-50;
}
