@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Teko';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/Teko-SemiBold.ttf)
		format('woff2');
}
